@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
body {
  margin: 0;
  font-family: 'Cardo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cardo', serif;
}
